@import "header/header.scss";
@import "restaurants/restaurants.scss";

.heroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $big-spacing $small-spacing;
  background-color: $sections-bg-color;
  text-align: center;

  &__text {
    margin-bottom: $medium-spacing;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      width: 85%;
    }
  }

  &__cta {
    @include cta;
  }
}

@mixin step_number($number) {
  content: "#{$number}";
  text-align: center;
  align-content: center;
  background-color: $main-color;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 8%;
  height: 35%;

  //positioning
  position: absolute;
  left: -4%;
}

.working {
  padding: $big-spacing $small-spacing;

  &__step {
    display: flex;
    //tablets
    @include medium_screen {
      flex-direction: row;
      justify-content: space-between;
      gap: $medium-spacing;
      margin: 0 0.5rem;
    }
    //mobile phones
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: $small-spacing;
    }

    &--1,
    &--2,
    &--3 {
      position: relative;
      width: 65%;
      background-color: $sections-bg-color;
      padding: $medium-spacing $big-spacing;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $medium-spacing;
      border-radius: $big-radius + 10px;
      box-shadow: 0.1rem 0.1rem 0.5rem 0px darken($sections-bg-color, 30%);
      //tablets
      @include medium_screen {
        padding: $small-spacing $medium-spacing;
        border-radius: $big-radius;
      }

      p {
        font-size: $p-size - 0.25rem;
        font-weight: bold;
      }
    }

    @for $i from 1 through 3 {
      &--#{$i}::after {
        @include step_number($i);
      }
    }
  }
}
