@import "header/header.scss";
@import "restaurants/restaurants.scss";

.heroHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $big-spacing 0;
  background-color: $sections-bg-color;
  text-align: center;

  &__text {
    margin-bottom: $medium-spacing;
  }
}

h2 {
  margin-bottom: $min-spacing;
}

.working {
  padding: $big-spacing $small-spacing;
}
