@import "../../variables.scss";

.restaurant {
  background-color: $sections-bg-color;
  padding: $big-spacing $small-spacing;
  //desktop
  @include big_screen {
    padding: $big-spacing $big-spacing;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: $small-spacing;

    //tablet
    @include medium_screen {
      display: grid;
      //the calculs are to avoid overlapping
      grid-template-columns: calc(50% - #{$small-spacing / 2}) calc(
          50% - #{$small-spacing / 2}
        );
    }
    //desktop
    @include big_screen {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - #{$small-spacing * 3 / 4}));
    }
  }

  &__card {
    border-radius: $big-radius;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem 0px darken($sections-bg-color, 40%);
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 45vw;

      //tablet
      @include medium_screen {
        height: 30vw;
      }
      //desktop
      @include big_screen {
        height: 15vw;
      }
    }
  }

  &__card__details {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $small-spacing;

    &__text h3 {
      font-size: $h3-size - 0.25rem;
    }
    &__text p {
      font-size: $p-size - 0.25rem;
    }
    &__icons {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: $h2-size;

      & .fa-regular {
        position: absolute;
        transition: color 50ms ease-in-out;
      }

      & .fa-solid {
        color: transparent;
        background: linear-gradient($main-color, $secondary-color) text;
        transform: scale(0);
        transition: transform 250ms 50ms ease-in;
      }

      &:hover {
        .fa-solid {
          transform: scale(1);
        }
        .fa-regular {
          color: $main-color;
        }
      }
    }
  }
}
