@import "../../variables.scss";

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $min-spacing 0;
  //box shadow
  box-shadow: 0 3px 3px 0 darken($sections-bg-color, 40%);

  h1 {
    font-family: $logo-titles-font;
  }

  i {
    position: absolute;
    left: 2%;
  }
}
