@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

@import "variables.scss";
@import "home/home.scss";

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $h1-size;
  font-weight: 500;
}
h2 {
  font-size: $h2-size;
  margin-bottom: $min-spacing;
  font-weight: bold;
}
h3 {
  font-size: $h3-size;
}
p {
  font-weight: 300;
}

body {
  font-family: $text-font;
  font-size: $p-size;
}

$location-bg-color: #eaeaea;
.location {
  background-color: $location-bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $small-spacing;
  padding: $small-spacing 0;
  font-weight: 800;
}

.footer {
  background-color: $footer-bg-color;
  color: white;
  padding: $small-spacing;

  h3 {
    font-family: $logo-titles-font;
    font-weight: 500;
    margin-bottom: $small-spacing;
  }
  div,
  p {
    margin-bottom: $min-spacing;
    font-size: $p-size - 0.25rem;
  }
  &__details div {
    display: flex;
    gap: $min-spacing;
  }
}
