@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

@import "variables.scss";
@import "home/home.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  font-size: $p-size;
}

$location-bg-color: #eaeaea;
.location {
  background-color: $location-bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $small-spacing;
  padding: $small-spacing 0;
  font-weight: 800;
}
