//VARIABLES DECLARATION
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$sections-bg-color: #f6f6f6;
$logo-titles-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
//SIZES
$h1-size: 1.5rem;
$h2-size: 1.25rem;
$h3-size: 1rem;
$p-size: 1rem;
//SPACING
$min-spacing: 0.5rem;
$small-spacing: 1rem;
$medium-spacing: 2rem;
$big-spacing: 3rem;
