//VARIABLES DECLARATION
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$sections-bg-color: #f6f6f6;
$footer-bg-color: #353535;
$logo-titles-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;
//SIZES
$h1-size: 2rem;
$h2-size: $h1-size - 0.25rem;
$h3-size: 1.5rem;
$p-size: 1.25rem;
//SPACING
$min-spacing: 0.5rem;
$small-spacing: 1rem;
$medium-spacing: 2rem;
$big-spacing: 3rem;
//BORDER
$min-radius: 5px;
$medium-radius: 10px;
$big-radius: 15px;

@mixin medium_screen {
  @media only screen and (min-width: 600px) {
    //with medium scree, sizes are reduced by 0.25rem and spacing divided by 1.5
    @content;
  }
}
@mixin big_screen {
  @media only screen and (min-width: 1200px) {
    //with medium scree, sizes are reduced by 0.25rem and spacing divided by 1.5
    @content;
  }
}

@mixin cta {
  background: linear-gradient(350deg, $main-color, $secondary-color);
  border: 0px;
  border-radius: $big-radius * 2;
  color: white;
  padding: $small-spacing $big-spacing;
  font-size: $p-size - 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0px darken($sections-bg-color, 30%);
  transition: all 0.3s ease-in-out;
}
@mixin cta-active {
  transform: translateY(0.1rem);
  box-shadow: 0.1rem 0.1rem 0.5rem 0px darken($sections-bg-color, 40%);
  opacity: 0.8;
}
